:root{
    --color-texto-izquierda: #0A3871;
    --color-texto-boton-izquierdo: white;
    --color-fondo: #EFF1FA;
    --color-texto-boton-derecha: #0A3871
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-fondo);
    box-sizing: border-box;
    height: 100vh;
}

.pantalla_principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.pantalla_principal_izquierda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantalla_principal_izquierda_logo{
    width: 100%;
}

.pantalla_principal_izquierda_consejo{
    margin-right: 30%;
}

.pantalla_principal_izquierda_contenedortext{
    height: 75%;
    width: 70%;
}

.pantalla_principal_izquierda_contenedortext_texto{
    border-radius: 1rem;
    background-color: var(--color-fondo);
    height: 100%;
    width: 100%;
    border: none;
    color: var(--color-texto-izquierda);
}

.pantalla_principal_izquierda_botones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pantalla_principal_izquierda_botones_izquierda{
    background: var(--color-texto-izquierda);
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--color-texto-boton-izquierdo);
}

.pantalla_principal_izquierda_botones_derecha{
    background: var(--color-fondo);
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-texto-izquierda);
    color: var(--color-texto-boton-derecha);
}

.pantalla_principal_derecha{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pantalla_principal_derecha_resultado{
    background-color: white;
    margin-top: 1.5%;
    margin-right: 1.5%;
}